 docker container rm $(docker container ls -aq --filter "name=mongodb-musica-catalogo") --force
 docker run -p 27017:27017 --name mongodb-musica-catalogo -e MONGO_INITDB_DATABASE=musica_catalogo -e MONGO_INITDB_ROOT_USERNAME=root -e MONGO_INITDB_ROOT_PASSWORD=d3s3nv -d mongo
 docker exec -it mongodb-musica-catalogo bash
 mongo
 use admin
 db.auth('root', 'd3s3nv')
 use musica_catalogo
 db.createCollection('musicas', { })
 exit
 exit